html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    width: 75%;
    display: block;
    margin: auto;
}

legend {
    color: red;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

#buy {
    color: red;
}

#anhang {
    color: red;
    font-size: 2rem;
    border: 5px solid black;
    background-color: white;
    width: 50%;
    height: auto;
    text-align: center;
    position: absolute;
    top: 0;
    left: 33%;
}
